4RAG004.json
{
  "name": "4RAG004",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-pdf",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -800,
        -336
      ],
      "id": "0558b343-fc34-478a-9ed3-454969420f4d",
      "name": "Webhook - Upload PDF",
      "webhookId": "upload-pdf-webhook"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "user_pdfs",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        -608,
        -336
      ],
      "id": "1a79491c-2a6d-444f-a03a-979a054f953a",
      "name": "Qdrant Vector Store - Insert",
      "credentials": {
        "qdrantApi": {
          "id": "nq0fJQaJpmdF4btA",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -560,
        -176
      ],
      "id": "97d25025-ac32-4caa-bb5f-c66c32a21cde",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 4000,
        "chunkOverlap": 400,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -480,
        -48
      ],
      "id": "e4e48791-5549-4cfd-b110-ef85716fef25",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "RAGchat",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        -336
      ],
      "id": "47e82f18-1407-4298-bec5-3b3a4218d398",
      "name": "Webhook - Chat",
      "webhookId": "chat-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sessionId",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId || 'default-session' }}",
              "type": "string"
            },
            {
              "id": "chatInput",
              "name": "chatInput",
              "value": "={{ $json.body.chatInput || $json.body.question }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        160,
        -336
      ],
      "id": "6dd2c62c-9166-4e3e-98b0-3cacce8108bb",
      "name": "Set Session Data"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -720,
        -64
      ],
      "id": "7ab63572-d7e0-453f-8545-d29e26b15d22",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "P0wWqmbiOLA94Lry",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        -112
      ],
      "id": "a68f7618-08f8-482f-b13b-d7eaef13fe8d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "P0wWqmbiOLA94Lry",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        64
      ],
      "id": "505eb40c-a4af-436d-a180-c1b42e7ec830",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "P0wWqmbiOLA94Lry",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful AI assistant that answers questions based on the uploaded PDF documents. Use the search tool to find relevant information from the documents before answering."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        336,
        -336
      ],
      "id": "413a5638-055e-4899-a052-7c9489ccc45d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search uploaded PDF documents for relevant information",
        "qdrantCollection": {
          "__rl": true,
          "value": "user_pdfs",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        688,
        -112
      ],
      "id": "a74a771b-c5aa-49c9-8a08-ba419f4e377d",
      "name": "Qdrant Vector Store - Retrieve",
      "credentials": {
        "qdrantApi": {
          "id": "nq0fJQaJpmdF4btA",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        528,
        -112
      ],
      "id": "975788c4-c214-4ac3-8939-66c47c7e968c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"PDF uploaded and vectorized successfully\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -288,
        -336
      ],
      "id": "69ce0aec-e229-4e48-8696-3993ba7916b2",
      "name": "Respond to Upload"
    },
    {
      "parameters": {
        "content": "The process involves fetching files from frontend.html, \nvectorizing them using Google Gemini Embeddings, \nand then storing the resulting vectors in the Qdrant vector database.",
        "height": 672,
        "width": 976
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        -480
      ],
      "typeVersion": 1,
      "id": "d7332ac2-77cd-4f11-9da5-cd83585c2138",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "The task is to receive input from the frontend.html and \nthen retrieve the corresponding answer from the vector database.",
        "height": 672,
        "width": 1104,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -480
      ],
      "typeVersion": 1,
      "id": "9c554a15-e6c9-42f4-bb12-648071d43bf6",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Upload PDF": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store - Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store - Insert": {
      "main": [
        [
          {
            "node": "Respond to Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store - Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Chat": {
      "main": [
        [
          {
            "node": "Set Session Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Session Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store - Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store - Retrieve",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store - Retrieve": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "46289001-dced-4f92-9dff-39ef37bcca8b",
  "meta": {
    "instanceId": "9f99c0b38d61fd40b3986982e7369bc021df64168a734c9319139faf1a12f037"
  },
  "id": "EtdXibgapyXF1HKb",
  "tags": []
}