7iPhone Assistant.json
{
  "name": "7iPhone Assistant",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body['content'] || $json.body['內容'] || $json.body['text'] }}",
        "options": {
          "systemMessage": "=You are a smart and helpful AI assistant. Please respond based on the information you receive, following these guidelines:\n- Respond in English.\n- Current time is: {{ $now}}\n- If asked to check calendar events, use the Google Calendar Tool\n- Do not use line breaks '\\n', '\\n\\n' or https URLs in your responses\n- Remove phrases like 'Hello! Based on the information found' from your responses\n- If asked to add an event without an end time, set the default duration to 1 hour\n- If asked to modify an event, first use Google Calendar Tool to get the original event information, then update the event details"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -272,
        -112
      ],
      "id": "2f9c334e-d9bb-4cb1-a026-cde084d7b601",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -416,
        96
      ],
      "id": "30e9ef02-c30b-442c-89de-acc676f23322",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "P0wWqmbiOLA94Lry",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "memory"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -272,
        96
      ],
      "id": "514c126c-9968-45e0-ba79-2041d049494f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "iphone",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -496,
        -112
      ],
      "id": "ea130f0a-64ba-4cf0-a5f4-b05d900220f0",
      "name": "Webhook",
      "webhookId": "313c1a7b-a759-45f0-b299-f02548d9a2f9"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-type",
                "value": "text/plain; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        112,
        -112
      ],
      "id": "8bd81e4f-236a-42c4-a651-16a69038b444",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -160,
        96
      ],
      "id": "20a30103-a64e-426d-b13b-a8053a74eb4f",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "aEsKtrDDC1Tblqs1",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "luarn@gapps.ntust.edu.tw",
          "mode": "list",
          "cachedResultName": "luarn@gapps.ntust.edu.tw"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        0,
        96
      ],
      "id": "c1a7ff6c-298f-4cbd-8471-c0391f9adf92",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JPTiNLecCGmCNNWK",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "luarn@gapps.ntust.edu.tw",
          "mode": "list",
          "cachedResultName": "luarn@gapps.ntust.edu.tw"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        128,
        96
      ],
      "id": "12417b34-5002-413d-8963-ed28d87998a3",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JPTiNLecCGmCNNWK",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "luarn@gapps.ntust.edu.tw",
          "mode": "list",
          "cachedResultName": "luarn@gapps.ntust.edu.tw"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        256,
        96
      ],
      "id": "3cd76cdf-4a53-465c-be90-de164ca91886",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JPTiNLecCGmCNNWK",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "luarn@gapps.ntust.edu.tw",
          "mode": "list",
          "cachedResultName": "luarn@gapps.ntust.edu.tw"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        384,
        96
      ],
      "id": "8f7f35b7-513d-4552-bb68-1434be88d767",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JPTiNLecCGmCNNWK",
          "name": "Google Calendar account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bbacf068-4b19-4f8d-888f-85e7fe8667f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f99c0b38d61fd40b3986982e7369bc021df64168a734c9319139faf1a12f037"
  },
  "id": "hyqP3MAE6HbUvkQZ",
  "tags": []
}