8 11LabsVoiceAgent.json
{
  "name": "8 11LabsVoiceAgent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "11labs",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        -96
      ],
      "id": "2db8673b-fd9d-4b4d-8881-de3c6a0f2b18",
      "name": "Webhook",
      "webhookId": "cff72784-79e5-4a7e-b65e-fd9cfee7ef42"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -256,
        112
      ],
      "id": "7a9f04db-13b4-4e60-a9b5-c9b1c8342785",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "P0wWqmbiOLA94Lry",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.searchQuery }}",
        "options": {
          "systemMessage": "=You are a smart and helpful personal AI assistant. Please respond based on the information you receive, following these guidelines:\n- Respond in English.\n- You can check my calendar events\n- When needed, use the SerpAPI tool to search the web\n- Current time is: {{ $now }}\n- Do not use line breaks '\\n', '\\n\\n' or https URLs in your responses\n- Remove phrases like 'Hello! Based on the information found' from your responses\n- If asked to handle any calendar functions, use the Google Calendar Tool\n- If asked to add an event without an end time, set the default duration to 1 hour\n- If asked to modify an event, first use Google Calendar Tool to get the original event information, then update the event details"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -208,
        -96
      ],
      "id": "0fd8ca36-502d-40ea-b2fe-6b9ea386c112",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -96,
        112
      ],
      "id": "c5942ad6-fb9a-4299-927d-b00da164a685",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "aEsKtrDDC1Tblqs1",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        144,
        -96
      ],
      "id": "cf33d5d7-0197-4f2c-9ca9-e896f58ecf25",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "luarn@gapps.ntust.edu.tw",
          "mode": "list",
          "cachedResultName": "luarn@gapps.ntust.edu.tw"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        64,
        112
      ],
      "id": "879c3d46-7727-4b5a-9860-a87b8d47c7de",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "LfbROvEHgE4Hg1ty",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "luarn@gapps.ntust.edu.tw",
          "mode": "list",
          "cachedResultName": "luarn@gapps.ntust.edu.tw"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        192,
        112
      ],
      "id": "5416555c-b3f5-4e6a-a8fc-d76477693a42",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "LfbROvEHgE4Hg1ty",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "luarn@gapps.ntust.edu.tw",
          "mode": "list",
          "cachedResultName": "luarn@gapps.ntust.edu.tw"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        320,
        112
      ],
      "id": "e66a19b5-9335-49a6-88dd-0de034869000",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "LfbROvEHgE4Hg1ty",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "luarn@gapps.ntust.edu.tw",
          "mode": "list",
          "cachedResultName": "luarn@gapps.ntust.edu.tw"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        464,
        112
      ],
      "id": "89389525-b9c4-413c-b257-8ae704585c3a",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "LfbROvEHgE4Hg1ty",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a6b071dd-bd8f-47f1-9d09-113f5d74856b",
  "meta": {
    "instanceId": "9f99c0b38d61fd40b3986982e7369bc021df64168a734c9319139faf1a12f037"
  },
  "id": "OEIq5Ds4geWzPKnh",
  "tags": []
}